<div class="row" style="height: 90%;align-items: center;">

    <div class="cont1">
        <div class="col-md-2">
        </div>

        <div class="home-card-container menu menu--dustu">
            <div class=" menu__item">
                <a class=" home-card menu__item-name yellow" routerLink="../iot" routerLinkActive="active">
                    Public repositories
                </a>
            </div>
        </div>

        <div class="home-card-container menu menu--dustu">
            <div class="  menu__item">
                <a class=" home-card menu__item-name red " routerLink="../repository" routerLinkActive="active">
                    My Repository
                </a>
            </div>
        </div>
        <div class="home-card-container menu menu--dustu">
            <div class="  menu__item">
                <a class=" home-card menu__item-name green" routerLink="../dashboard" routerLinkActive="active">
                    Dashboard
                </a>
            </div>
        </div>
        <div class="home-card-container menu menu--dustu">
            <div class=" menu__item">
                <a class=" home-card menu__item-name blue"  routerLink="../playground" routerLinkActive="active">
                    Playground
                </a>
            </div>
        </div>

        <br/>

    </div>
</div>
