
<span class="hljs-attr-cont" *ngIf="param.isArray()">
    "<span class="hljs-attr">{{param.paramName}}</span>": [
    <span class="hljs-attr-inner-cont" *ngFor="let child of param.paramValue">
        <hjl-swagger-json [param]="createParam('paramName',child)"></hjl-swagger-json>
    ],
    </span>
</span>
<span class="hljs-attr-cont" *ngIf="param.isJson()"> {{ '{'

    <span class="hljs-attr-inner-cont" *ngFor="let key of param.getKeys()">
        "<span class="hljs-attr">{{key}}</span>": <hjl-swagger-json [param]="createParam(key, child)"></hjl-swagger-json>
    </span>
      '}' }},
</span>
    <span class="hljs-string" *ngIf="param.isString()">"string"</span>

