
<div class="aboutthelab-container">

    HighJack's Lab<br />
    <br />
    This platform aims to let users get familiar with OSS, IoT, microservice architecture and BigData to build production-ready services from community-hosted materials.<br />
    If 10 people host a node of any microservice for development needs, you got 10 nodes available for this microservice.<br />
    With an active-enough community, a good rate-limiting system and P2P capabilities, scalability is a matter of sharing.<br />
    The security is provided by the lab : any request is made to the lab at a generated path, the service IP is isolated and does not live longer than the service's session.<br />
    We offer a built-in Cassandra node with a kafka queue, a full IoT-ready big-data pipeline system along to a user-friendly web-service and template builder.<br />
    The integration with external service is made easily through managed nodes to let in-production systems integrate new services.<br />
    The lab can also be used as a gateway to build a full angular application from scratch.<br />
    <br />
    <br />
    <pre>Business plan<br />

    1- Build great services<br />
    2- Use them to build specialized companies<br />
    3- Rent/sell our services to other companies<br />
    4- Gather data and build better services and companies<br />
    <br />
    <br />
    Timeline<br />
    <br />
    The Lab has to be the leading project in the first months.<br />
    It offers us a lot of options for the future, and the opportunity to grow an active community.<br />
    It shall focus on inter-connectivity and security for the services' host, to allow even a home computer with no network security knowledge to be apart of a community-hosted scalable service.<br />
    It should focus first on allowing in-app registration to let closed-source/no CD-CI services be available as well<br />
    The next focus will be the description language.<br />
    It shall be designed in a way to be easily understandable by an AI. Any registered service has to conform with it.<br />
    Then the rate limiting option is the upfront priority, mandatory before the first release.<br />
    <br />
    We can then start specialized companies using our service, to demonstrate it's capabilities, find enterprise clients and build an active community.<br />
    <br />
    Second run, the IA.<br />
    First an independent and specific application, like the Butterfly IA - an IA that's feed from news and poll archives to detect patterns and correlations, in order to predict the impact in the future of an action<br />
    As we learn, build an embedded IA module for the Lab, configurable and available to the user.<br />
    Then build a master IA module to wrap and use the Lab. It'll be able to build complex API with optimum availability and rates from any request. And store the API for further instant usages. If the user response is not 100% good, try others.<br />
    If a logic is saved more than once for different request, draw patterns and models from these requests to answer more requests of the same type instantly<br />
    Build a device to use it with the voice<br />
    <br />
    Third run, the CD/CI and hosting services at start for enterprises wanting private clusters or just guaranteed availability with hosted extra nodes.<br />
    Users shall also be able to be paid for the usage made of their hosted services (money or credit for using other paid services).<br />
    Offer hosting services plans for any user<br />
    <br />
    P2P IA platform & Web Service Hosting and Selling<br />
    You win</pre>
    <br />
    <br />

    Capabilities<br />
    V1.0 (planned: 12/18)<br />
    Register devices and device series<br />
    Register services and services nodes. The lab does the load balancing.<br />
    Build operations and template, save them, restore them, run them<br />
    Build big data pipeline with proposed bigdata transfomations<br />
    Associate pipelines, operations and templates to devices<br />
    Get permanent links for templates output<br />
    <br />
    V1.1<br />
    Allow in-app scala code writing and compiling for pipeline and device driver.<br />
    + join our Jira

</div>

