
<div class="repo-container">

    Create a component from scratch<br/>
    Push new versions or branches of a component<br/>
    Automatically synchronize a component with a github repository<br/>
    Browse community-approved or in-progress components, find teams working on similar services or start from scratch<br/>
    Create your own nexus of playground components, big data operations, IoT drivers, full deployable networks or any binaries<br/><br/>

    <div class="repo-title">My Repository</div>

    <div class="repo-card-container">
        <div class="repo-card-title">Devices</div>
        <div class="repo-card-content">

        </div>
        <div class="repo-card-add">+</div>
    </div>
    <div class="repo-card-container">
        <div class="repo-card-title">Services</div>
        <div class="repo-card-content">

        </div>
        <div class="repo-card-add">+</div>
    </div>
    <div class="repo-card-container">
        <div class="repo-card-title">Logic</div>
        <div class="repo-card-content">
            <div class="repo-card-list">Templates</div>
            <div class="repo-card-list-content"></div>
            <div class="repo-card-list">Operations</div>
            <div class="repo-card-list-content"></div>
            <div class="repo-card-list">Pipelines</div>
            <div class="repo-card-list-content"></div>
        </div>
        <div class="repo-card-add">+</div>
    </div>


</div>

