
<div class="repo-container">
    <div class="repo-title">My Repository</div>

    <div class="repo-card-container">
        <div class="repo-card-title">Devices</div>
        <div class="repo-card-content">

        </div>
        <div class="repo-card-add">+</div>
    </div>
    <div class="repo-card-container">
        <div class="repo-card-title">Services</div>
        <div class="repo-card-content">

        </div>
        <div class="repo-card-add">+</div>
    </div>
    <div class="repo-card-container">
        <div class="repo-card-title">Logic</div>
        <div class="repo-card-content">
            <div class="repo-card-list">Templates</div>
            <div class="repo-card-list-content"></div>
            <div class="repo-card-list">Operations</div>
            <div class="repo-card-list-content"></div>
            <div class="repo-card-list">Pipelines</div>
            <div class="repo-card-list-content"></div>
        </div>
        <div class="repo-card-add">+</div>
    </div>


</div>

