<div class="row" style="height: 97%;align-items: center;">

    <div class="cont1" style="height: 100%;overflow-y: scroll;">
        <div class="home-page-1" style="width:100%">
        <div style="text-align: center;margin-top: 75px;">
            <div class="home-page-1-title">
                A <!--Global-->flexible P2P and Serverless Web Services Solution
                <div class="home-page-1-subtitle">
                    Modern Cloud technologies offer much more than the ability of replicating and scaling applications in localized private Datacenters.<br/>
                    Through the <b>"Device-As-A-Host" approach of Cloud Hosting</b>, we intend to let the community and IoT networks host themselves, <br/>
                    while getting most of the advantages default Cloud Solutions have to offer.
                </div>
            </div>

            <div class="home-page-1-cont">
                <div class="home-page-1-img">
                    <particles [params]="particleParams" [style]="particleStyle" [width]="particleContWidth" [height]="particleContHeight"></particles>
                </div>
                <div class="home-page-1-desc">
                    No data-center is needed when there are billions of connected devices with available resources around the world.<br/>
                    <br/>
                    HighJack's Lab was built to let the end-user and the connected device manufacturers enter the web-hosting market share,
                    creating the conditions of a self-endowing ecosystem ready for exponential loads <br/>
                    <br/>
                    For the container user, it abstracts out the infrastructure layer to let architects and developers configure and deploy production-ready
                    technological stacks, serverless functions and big-data processing pipelines, as-a-Service or to build upon<br/>
                    <br/>
                    <br/>

                </div>

            </div>
        </div>
            <div class="home-page-1-line">
                <div class="home-page-1-line-v">v</div>
            </div>
    </div>


        <div class="home-page-1 home-page-2" style="width:100%">
            <div style="text-align: center;margin-top: 90px;">
                <div class="home-page-1-title">
                    Build production-ready scalable data-first APIs in minutes<br/>
                    <div class="home-page-1-subtitle">
                        either serverless (event and api-based) or with community-hosted docker machines
                    </div>
                </div>
                <div class="home-page-1-cont" style="width: 90%;">
                    <div class="home-page-1-desc">
                        Build a service directly from the technological stack of your choice, backed up with Netflix OSS, Kafka, Akka, Spark and Cassandra !<br/>
                        <b>Combine APIs and images together with powerful operational and big data piping components into community-hosted web services</b><br/>
                        <br/>
                        <b>Community :</b><br/>
                        - if not self-hosted, containers are available based on ratio or by using our ads service<br/>
                        - rate limiting and scalability options available<br/>
                        - A templating component lets you generate client UI to test your APIs<br/>
                        - extended docker-compose description language<br/>
                        - github-to-production CI pipeline<br/>
                        - host integrity is not guaranteed : no personal information should transit through these nodes<br/>
                        <br/>
                        <b>Enterprise :</b><br/>
                        - verified and secured hosts with guaranteed availability<br/>
                        - advanced rate, security, scalability and billing options to push directly your service to production<br/>
                    </div>

                    <div class="home-page-2-img">
                        <span class="txt">Programmatic triggers</span>
                        <div class="side txt">Akka Event-driven big-data pipeline</div>
                        <div class="pl-item">
                            <div class="pl-pipeline before first" ></div>
                            <div class="pl-pl-svg endpoint" >
                                <svg height="22" width="20"> <circle cx="10" cy="10" fill="none" r="9" stroke-width="2.5"></circle> </svg>
                            </div>
                            <div class="pl-pipeline after"></div>

                        </div>
                        <div class="pl-item">
                        <div class="pl-pipeline before" ></div>
                        <div class="pl-pl-svg data-transformation" >
                            <svg height="22" width="20"> <circle cx="10" cy="10" fill="none" r="9" stroke-width="2.5"></circle> </svg>
                        </div>
                        <div class="pl-pipeline after"></div>
                        </div>

                            <div class="pl-item">
                        <div class="pl-pipeline before" ></div>
                        <div class="pl-pl-svg model-training" >
                            <svg height="22" width="20"> <circle cx="10" cy="10" fill="none" r="9" stroke-width="2.5"></circle> </svg>
                        </div>
                        <div class="pl-pipeline after"></div>
                            </div>
                        <div class="pl-item">
                            <div class="pl-pipeline before" ></div>
                            <div class="pl-pl-svg data-transformation" >
                                <svg height="22" width="20"> <circle cx="10" cy="10" fill="none" r="9" stroke-width="2.5"></circle> </svg>
                            </div>
                            <div class="pl-pipeline after"></div>
                        </div>

                                <div class="pl-item">
                        <div class="pl-pipeline before" ></div>
                        <div class="pl-pl-svg database-transaction" >
                            <svg height="22" width="20"> <circle cx="10" cy="10" fill="none" r="9" stroke-width="2.5"></circle> </svg>
                        </div>
                        <div class="pl-pipeline after"></div>
                                </div>
                                    <div class="pl-item">
                        <div class="pl-pipeline before" ></div>
                        <div class="pl-pl-svg output" >
                            <svg height="22" width="20"> <circle cx="10" cy="10" fill="none" r="9" stroke-width="2.5"></circle> </svg>
                        </div>
                        <div class="pl-pipeline after"></div>
                                    </div>

                        <span class="txt">Reactive outputs</span>
                        <br/>
                        <br/>
                        <a style="color: #fff;" routerLink="playground">Get Started</a>
                    </div>

                </div>

            </div>
            <div class="home-page-1-line">
                <div class="home-page-1-line-v">v</div>
            </div>
        </div>



        <div class="home-page-1 home-page-3" style="width:100%">
            <div style="text-align: center;margin-top: 90px;">
                <div class="home-page-1-title">
                    Distributed self-hosted IoT networks<br/>
                    <div class="home-page-1-subtitle">
                        Cloud-independant private IoT network with Healing, Learning, Batch-updating and Failure-handling capabilities
                    </div>
                </div>

                <div class="home-page-1-cont" style="width: 80%;">
                    <div class="home-page-3-img">
                        <fa-icon class="infinity" [icon]="'infinity'" [fixedWidth]="true"></fa-icon>
                    </div>
                    <div class="home-page-1-desc">
                        - <b>Free and Open-Source</b><br/>
                        - Pre-configured IoT-ready linux environments<br/>
                        - Self-hosting the distributed processing network through Kubernetes or Docker Swarm<br/>
                        - Batch-update in-production systems to newer versions without downtime<br/>
                        - Heal individual nodes, restore states and rebalance load automatically in case of failure<br/>
                        <br/>
                        Extra hosted manager and worker nodes available for Enterprise<br/>
                        <br/>
                    </div>
                </div>
                <div style="width:100%; display:flex;align-items: center;justify-content: center;">
                    <span style="width:33%" class=" menu__item-label left" routerLink="documentation">Get Started</span>
                </div>
            </div>
            <div class="home-page-1-line">
                <div class="home-page-1-line-v">v</div>
            </div>
        </div>
        <div class="home-page-1 home-page-4" style="width:100%">
            <div style="text-align: center;margin-top: 90px;">
                <div class="home-page-1-title">
                    Share your connected machine and make profits during it's entire life<br/>
                    <div class="home-page-1-subtitle">
                        Products remains profitable even after distribution through CPU-sharing, discouraging obsolescence
                    </div>
                </div>
                <div class="home-page-1-cont" >
                <div class="home-page-1-desc">
                    - Custom <b>Dockerized Linux distribution</b> with low permissions, system code obfuscation, port verification and advanced SSH<br/>
                    - Advanced CPU, process prioritization and rate limiting configurations to ensure the <b>default behaviour of the device is not impacted</b><br/>
                    <br/>
                    <b>Community :</b> <br/>
                    - Simply using the dockerized linux distribution on any VM or CPU device<br/>
                    - Financed by ads on the caller-side through our partnered ad publisher or hosted for free with rate limiting <br/>
                    (ex a service hosted on a free cloud provider account)<br/>
                    - incoming : host containers with your browser !
                    <br/>
                    <b>Enterprise :</b><br/>
                    - The device and provider are identified and approved manually, and a management node checks the OS integrity<br/>
                    - Financed by the Enterprise service<br/>
                    - Pre-configured safe server devices are available for sale<br/>
                    <br/>
                  </div>
                    <div class="home-page-4-img">
                        <div routerLink="documentation">Add a Community machine</div>
                        <div routerLink="documentation">Add a certified Enterprise machine</div>
                    </div>
                </div>
                <div style="width:100%; display:flex;align-items: center;justify-content: center;">
                    <br/>
                    <br/>
                </div>
            </div>
        </div>


    </div>
</div>
